# Sets - zaawansowane
+ date: 2018-02-01
+ category: python
+ tags: sets, zbiory, set, zbiór

Podczas tej lekcji poznamy różne metody dedykowane obiektom typu set. Zaczniemy od podsatwowych, które już poznaliśmy a następnie zanurkujemy trochę głebiej.

In [1]:
s = set()

# add
Dodanie elementu do setu. Pamiętaj, że set nie przyjmuje elementów powtarzających się, tj set składa się wyłącznie z unikalnych elementów.

In [2]:
s.add(1)

In [3]:
s.add(2)

In [4]:
s

{1, 2}

## clear
Usuwa wszystkie elementy z setu

In [5]:
s.clear()

In [6]:
s

set()

## copy
Zwraca kopię setu. Zwróć uwagę, że jest to kopia więc zmiana oryginału nie ma wpływu na kopię.

In [7]:
s = {1,2,3}
sc = s.copy()

In [8]:
sc

{1, 2, 3}

In [9]:
s

{1, 2, 3}

In [10]:
s.add(4)

In [11]:
s

{1, 2, 3, 4}

In [12]:
sc

{1, 2, 3}

## difference
Difference zwraca różniecę dwóch lub więcej setów. Składnia jest następująca:

    set1.difference(set2)

In [13]:
s.difference(sc)

{4}

## difference_update
Difference_update składnia:

    set1.difference_update(set2)
metoda zwraca set1 po usunięciu elementów pokrywających się z set2.

In [14]:
s1 = {1,2,3}

In [15]:
s2 = {1,4,5}

In [16]:
s1.difference_update(s2)

In [17]:
s1

{2, 3}

## discard
Usuwa element z setu jeżeli jest występuje, a jeżeli nie to nic nie robi.

In [22]:
s

{1, 2, 3}

In [23]:
s.discard(4)

In [24]:
s

{1, 2, 3}

## intersection
Zwraca przecięcie dwóch lub więcej setów jako nowy set, tj elementy wspólne dla wszystkich setów.

In [25]:
s1 = {1,2,3}

In [26]:
s2 = {1,2,4}

In [27]:
s1.intersection(s2)

{1, 2}

In [28]:
s1

{1, 2, 3}

## intersection_update 
Uaktualnia set1 do postaci zawierającej elementy znajdujące się w nim oraz pozostałych setach.

In [30]:
s1 = {2,3,4}
s2 = {1,3,4,5}
s1.intersection_update(s2)

In [31]:
s1

{3, 4}

## isdisjoint
Metoda ta zwraca True jeżeli dwa sety nie mają takich samych elementów.

In [32]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [33]:
s1.isdisjoint(s2)

False

In [34]:
s1.isdisjoint(s3)

True

## issubset
Ta metoda informuje, czy inny zestaw zawiera ten zestaw.

In [35]:
s1

{1, 2}

In [36]:
s2

{1, 2, 4}

In [37]:
s1.issubset(s2)

True

# issuperset
Metoda ta weryfikuje czy wszystkie elementy s2 znajdują się w s2 i jeżeli tak jest zwraca True.

In [39]:
s2.issuperset(s1)

True

## symmetric_difference
Zwraca różnicę symetryczną dwóch setów jako nowy set, tj zwraca set zawierający wyłącznie elementy znajdujące się tylko w jednym secie.

In [40]:
s1

{1, 2}

In [41]:
s2

{1, 2, 4}

In [42]:
s1.symmetric_difference(s2)

{4}

## symmetric_difference_update
Uaktualnia set1 do postaci zawierającej elementy znajdujące się w jednym z dwóch setów.

In [45]:
s1 = {1,2,3}
s2 = {1,2,4,5}

In [46]:
s1.symmetric_difference(s2)

{3, 4, 5}

## union
Zwraca połączenie dwóch setów.

In [47]:
s1.union(s2)

{1, 2, 3, 4, 5}

## update
Aktualizuje set1 do postaci zwierającej elementy pochodzące z obu setów.

In [48]:
s1.update(s2)

In [49]:
s1

{1, 2, 3, 4, 5}

Super! Powinieneś teraz mieć pełną świadomość wszystkich dostępnych metod dla obiektów typu set. Ta struktura danych jest niezwykle przydatna i jest niedostatecznie wykorzystywana przez początkujących, więc staraj się o tym pamiętać!